
    h1 {
        font-size: calc(22px + 0.390625vw);
    }
    h2 {
        font-size: calc(16px + 0.390625vw);
    }
    h3 {
        font-size: calc(16px + 0.390625vw); font-weight: bold;
    }
    p {
        font-size: calc(16px + 0.390625vw);
    }

    .topnav {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        color: #515352;
        background-color: slategrey;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
       }

    .topnav a {
        float: left;
        color: #333435;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #779ea1;
        color: white;
    }


    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url("y-so-serious.png");
        z-index: -1;
      }

   body {
        margin: auto;
        background-color: #141414;
    }

    .info {
        text-align: center;
        font-size: 1vw;
        background-color: rgba(255, 255 ,255, .15);
        color: #c8d7cb;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        padding: 1vw;
        border-radius: 4vw;
        width: auto;
        height: auto;
        margin: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .questions {
        background-color: rgba(255, 255 ,255, .15);  
        color: #c8d7cb;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        padding: 1vw;
        border-radius: 4vw;
        width: auto;
        margin: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }
    .title {
        text-align: center;
        background-color: rgba(255, 255 ,255, .15);
        color: #c8d7cb;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        padding: 0.2vw;
        border-radius: 4vw;
        width: auto;
        margin: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    main {
        margin-top: 5rem;

    }
    


    a:link {
        color: #adcde3;
    }

    a:visited {
        color: #adcde3;
    }



