
    h1 {
        font-size: calc(22px + 0.390625vw);
    }
    h2 {
        font-size: calc(16px + 0.390625vw);
    }
    h3 {
        font-size: calc(16px + 0.390625vw); font-weight: bold;
    }
    p {
        font-size: calc(16px + 0.390625vw);
    }

    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url("y-so-serious.png");
        z-index: -1;
      }

   body {
        margin: 1vw;
        background-color: #141414;
    }

    .info {
        text-align: center;
        font-size: 1vw;
        background-color: rgba(255, 255 ,255, .15);
        color: #c8d7cb;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        padding: 1vw;
        border-radius: 4vw;
        width: auto;
        height: auto;
        margin: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .questions {
        background-color: rgba(255, 255 ,255, .15);  
        color: #c8d7cb;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        padding: 1vw;
        border-radius: 4vw;
        width: auto;
        margin: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .title {
        text-align: center;
        background-color: rgba(255, 255 ,255, .15);
        color: #c8d7cb;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        padding: 0.2vw;
        border-radius: 4vw;
        width: auto;
        margin: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    a:link {
        color: #c8d7cb;
    }

    a:visited {
        color: #6ea9d3;
    }



